{% extends 'base.html'%}

{% load crispy_forms_tags %}
{% block content %}
<div class="mt-5 content-section">
    <div class="media">
        <img class="rounded-circle article-img float-left" style="width:100px;height:100px" src="{{user.profile.image.url}}">
        <div class="media-body">
            <h2 class="account-heading" style="font-weight:bold ;font-style:italic;">{{ user.username }}</h2>
            <p class="text-secondary" style="font-weight:bold ;font-style:italic;">{{ user.email }}</p>
            
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              Profile Info 
            </legend>
            {{ u_form|crispy}}
            {{ p_form|crispy}}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update profile</button>
        </div>
    </form>
    <hr>
    

</div>

{% for post in posts %}

    <div class="mt-5 album py-5 bg-light">
        <div class="container">

            <div class="row" >
                <div class="ml-5 col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <a href="{% url  'post-detail' post.id %}"><img class="bd-placeholder-img card-img-top img-responsive" width="100%" height="300" src="{{post.article_image.url}}"></a>
                        <div class="card-body">
                            <img class="rounded-circle article-img" style="width:50px;height:50px"  src="{{ post.author.profile.image.url }}">
                            <span><p class="mt-2 card-text ">{{ post.author }}  : <b><i>{{post.title}}</i></b></p></span>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mt-2 card-text ">Country of origin:<b>{{ post.country }}</b></p>
                                <small class=" text-muted">{{post.date_posted}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock %}
